=======================================

Welcome to {{ inventory_hostname }}
Managed by Ansible
Managed by Jenkins CI/CD

IP: {{ ansible_default_ipv4.address }}

=======================================
